# .env.local (example)
# Replace with your URL from Colab after running the notebook
#NEXT_PUBLIC_API_URL=https://etc.com
# There cannot be a "/" at the end of the URL, otherwise it will cause issues with the API calls
NEXT_PUBLIC_API_URL=https://etc.trycloudflare.com